{% extends "header.html" %}
{% block body_text %}
<div class="container">
	<div class="col-md-12 main_div">
<h3>Welcome To QuickBooks Integration with Python.
<a href="{% url 'swagger-ui' %}" target="_blank" class="btn btn-default btn-sm" style="float: right;"> Swagger View</a>
</h3>
<h4>Please Select an Option To View Customer Details or Inventory Details.</h4>

<hr>
<a href="{%url 'quickbook-customer-view' %}" target="_blank"  class="btn btn-success btn-lg">View Customer List</a>
<a href="{%url 'quickbook-inventory-view' %}" target="_blank" class="btn btn-success btn-lg">View Inventory List</a>
</div>
</div>
{% endblock %}