{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
	<title>
		QBOnline Integration With Django
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body >
	{% block body_text %}
	{% endblock %}
</body>
</html>