body {
	background-color: #00334d
}
.btn-success {
	margin: 50px 10px 100px 10px;
}
.main_div {
	border:1px solid #444;
	background-color:#fefefe;
	border-top: 10px solid #ff9900; 
	color: #575757; 
	/*margin-top: 1	px; */
	box-shadow:2px 2px 10px #111;
	text-align: center;
}
.alert{
	margin-top: 25px !important;
}